@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --app-mweb-header-h4: Rubik;

  /* font sizes */
  --app-mweb-body-b2-medium-size: 12px;
  --app-mweb-labels-l1-size: 11px;
  --app-mweb-header-h4-size: 14px;
  --app-mweb-header-h3-size: 16px;
  --app-mweb-header-h2-size: 18px;

  /* Colors */
  --typography-gray: #575756;
  --surface-white: #fff;
  --surface-extralight-bluishgray: #eff2f4;
  --typography-ash-gray: #b3b3b3;
  --icons-error: #b31921;
  --typography-jet-gray: #2b2b2b;
  --typography-extradark-green: #3c6407;
  --icons-success: #568f0a;
  --tertiary-400: #fda416;
  --error-400: #da1e28;
  --brand-primary: #005dac;
  --success-400: #64a70b;

  /* Spacing */
  --spacing-16: 16px;
  --radius-8: 8px;
  --spacing-8: 8px;
  --spacing-4: 4px;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-base-8: 16.8px;
  --gap-7xs-9: 5.9px;
  --gap-12xs-5: 0.5px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-xs: 12px;
  --padding-5xl-8: 24.8px;
  --padding-lg: 18px;
  --padding-21xl-6: 40.6px;
  --padding-12xl-8: 31.8px;
  --padding-lgi-8: 19.8px;
  --padding-15xl-8: 34.8px;
  --padding-93xl: 112px;
  --padding-9xs-9: 3.9px;
  --padding-9xs: 4px;
  --padding-smi: 13px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-12xs: 1px;
  --br-9xs: 4px;
}
